body{
    font-size: Arial 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(187, 187, 226);
    width:900px; /*Centraliza a pagina toda para nõa usar 100% da tela*/
    margin: auto;
}
h2.titulo{
    text-align: center;
    font-weight: bold
}
p{
    font-weight: 500;
}

hr{
    margin: auto;
    margin: 0px 50px 0 50px;
}
img{
    float: right;
}
nav.menu ul{
    list-style: none; /*Tirou o ponto do <li>*/
    text-transform: uppercase; /*Deixou tudo em maiusculo*/
    text-align: center;

    /*position: relative; /*A posição dele pode ser fora do container <nav>, indo assim até a parte superior da página*/
    /*top: -10px; /*É o espaçamento da parte superior com o menu*/
    /*left: 350px; /*É a medida da largura, para centralizar o menu*/
}

nav.menu li{
    display: inline-block; /*Deixa tudo em uma só linha*/
}
nav.menu{
    display: block;  
}
div.louv-1{
    float: left;
}
div.text{
    float: right;
    padding: 8px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
p.italico{
    font-style: italic;
}

button{
    text-align: center;
    background-color: rgba(110, 68, 68, 0.336);
    border-bottom: 15px;
    width: 120px;
    padding: 5px; /*Espaçamento*/
    margin: 2px;
}

div.corpo{
    border-top: 10px;
    margin: auto;
}

fieldset.descricao{
    margin: auto;
}